node_modules/
node_modulesx/
node_modules_copymanually/
build/
dist/
created_torrents/
seeding_files/
syncnews/
Torrents/
Posters/
备份/
npm-debug.log*
*.torrent
*.zip
config.json*
webtorrent-desktop.zip

# JetBrains IntelliJ IDEA project files
.idea
*.iml
